[build]
builder = "DOCKERFILE"
dockerfilePath = "BlockWalletDigi/Dockerfile"

[deploy]
startCommand = "npm run start"
healthcheckPath = "/api/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
