[build]
builder = "DOCKERFILE"
dockerfilePath = "credverse-gateway/Dockerfile"

[deploy]
startCommand = "npm run start"
healthcheckPath = "/api/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
